@import './theme-variables.css';
@import './widge-variables.css';
@import 'vue-cropper/dist/index.css';
@import '@unocss/reset/tailwind-compat.css';
html,
body {
  @apply w-full h-full;
}

#app {
  @apply wh-full relative;
  z-index: 1;
}
.borderBlack {
  @apply border border-black/10;
}
.vsc-controller,
.n-color-picker-trigger__value {
  display: none;
}
input,
textarea {
  user-select: auto;
}
input,
textarea {
  background-color: transparent;
  font-family: inherit;
  outline: none;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

button,
input,
select,
optgroup,
textarea {
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  color: inherit;
  opacity: 1;
  background-color: #0000;
  border-radius: 0;
}
button,
.n-input,
[type='button'],
[type='reset'],
[type='submit'] {
  border-radius: 6px;
}
